#!/usr/bin/env python
# -*- coding: utf-8 -*-


debug=1


browser_driver_command_executor='http://192.168.7.114:4444/wd/hub'
browser_profile_dir='/cygdrive/f/tempdown/wos/d59szdfe.default-1521437354332'

start_url='http://apps.webofknowledge.com/'
storage_subdir='data'


