#!/usr/bin/env python
# -*- coding: utf-8 -*-

main={}
main['debug']=0
main['cache_file_name']='.cache.txt'


umeng={}
umeng['email']='yourname@domain.com'
umeng['password']='your-password'


um_source=[]

um_source.append({'name':'演示应用(iOS)','label':'m_app_ios','appkey':'55eb9e3ae0f55a973800597d','start':'2017-10-01',})
um_source.append({'name':'演示应用(Android)','label':'m_app_android','appkey':'54c1b29fcd98c5bb07000398','start':'2017-10-01',})

